#menuright a {background-color:#fff;color:#333;}
#resultat_recherche .ui-listview li p strong {color:#00C;}
.ui-listview li h5.white-space ,.ui-listview li.first {
 white-space: normal;
}
#formulaire select option {white-space: normal;}